body { width: 100%; }
#cards-body {
    display: flex;
    justify-content: space-evenly;
}
.card-container {
    width: 30%;
    border: 2px solid gray;
}
.card-container:hover {
    background-color: whitesmoke;
}
.card.top {
    display: flex;
    justify-content: space-around;
    align-items: start;
}
.logo { 
    width: 20%;
    margin-top: 32px; 
}
.text {
    width: 70%;
    font-size: 32px;
}
.title { 
    font-weight: bold;
    color: black; 
}
.card.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5%;
  margin-top: 0;  
}
.link {
    text-decoration: none;
    font-size: 30px;
    width: 50%;
}
.description, .link { color: gray; }
.arrow { 
    width: 5%;
    max-height: 20px; 
}

